.container {
  padding: 0;
}

.home-main {
  margin: ($base-size * 3.5) auto;
  padding: ($base-size * 6) ($base-size * 4);
  background: $color-light;
  border-bottom: 1px solid lighten($color-dark, 70%);
  border-radius: $radius;
}

.top {
  &__flex {
    display: flex;
    justify-content: space-between;
  }

  &__flex-2 {
    // @include flex(column, center, center);
    position: relative;
    flex: 0 0 49%;
    height: 120px;
    background-color: antiquewhite;
    border-radius: $radius;
    text-align: center;

    &#order {
      background-image: url('/images/assets/pizza-1.jpg');
      background-position: center;
      object-fit: contain;
    }

    &#booking {
      background-image: url('/images/assets/pizza-2.jpg');
      background-position: center;
      object-fit: contain;
    }

    &:hover {
      .top__hover-text {
        top: 60%;
        transition: 0.5s ease-in-out;
      }

      .top__text {
        top: 40%;
        transition: 0.5s ease-in-out;
      }
    }

    .top__text {
      @include center;
      text-align: center;
      min-width: 250px;

    }
  }

  &__hover-text {
    @include center;
    top: 100%;
    color: #ffffff;
    min-width: 250px;
  }

  &__text,
  &__subtext {
    margin: 0;
    color: #ffffff;
    font-size: 24px;
    text-transform: uppercase;
  }

  &__subtext {
    font-size: 16px;
    font-weight: normal;
  }

  &__full-width {
    @include flex(column, center, center);
    position: relative;
    background-color: $color-main;
    border-radius: $radius;
    height: 120px;
    margin-top: 10px;
  }
}


/*  SLIDER  */

.slider {
  @include flex(row, center, space-between);
  flex-wrap: nowrap;
  // display: none;
  opacity: 0;
  position: absolute;
  left: 110%;
  transition: all 1s;
  max-width: 600px;
  min-width: 600px;
  width: inherit;
  // margin-right: 100%;
  
  &__wrapper {
    margin: 96px 0;
    position: relative;
    height: 200px;
  }

  &__image {
    flex: 1;
    height: 200px;
    width: 200px;
  }

  &__img {
    height: inherit;
    width: inherit;
    object-fit: cover;
  }

  &__text {
    flex: 2;
    margin-left: 40px;

    &--heading {
      font-size: 18px;
      text-transform: uppercase;
    }

    &--name {
      font-style: italic;
      font-weight: bold;
    }
  }

  &.active {
    // display: flex;
    opacity: 1;
    left: 0;
    transition: all 1s;
  }

  &.prev {
    opacity: 0;
    left: -110%;
    transition: all 1s;
  }
}