.container {
  padding: 0;
}

.home-wrapper {
  overflow: hidden;
}

.home-main {
  margin: ($base-size * 3.5) auto;
  padding: ($base-size * 6) ($base-size * 4);
  background: $color-light;
  border-bottom: 1px solid lighten($color-dark, 70%);
  border-radius: $radius;
}

/* Top */

.top {
  &__flex {
    display: flex;
    justify-content: space-between;
  }

  &__flex-2 {
    position: relative;
    flex: 0 0 49%;
    height: 120px;
    background-color: antiquewhite;
    border-radius: $radius;
    text-align: center;
    background-position: center;
    object-fit: contain;
    cursor: pointer;

    &#order {
      background-image: url('/images/assets/pizza-1.jpg');
    }

    &#booking {
      background-image: url('/images/assets/pizza-2.jpg');
    }

    &:hover {
      .top__hover-text {
        top: 60%;
        transition: 0.5s ease-in-out;
      }

      .top__text {
        top: 40%;
        transition: 0.5s ease-in-out;
      }
    }

    .top__text {
      @include center;
      text-align: center;
      min-width: 250px;
      width: 100%;
    }
  }

  &__hover-text {
    @include center;
    top: 100%;
    color: #ffffff;
    min-width: 250px;
  }

  &__text,
  &__subtext {
    margin: 0;
    color: #ffffff;
    font-size: 24px;
    text-transform: uppercase;
  }

  &__subtext {
    font-size: 16px;
    font-weight: normal;
  }

  &__full-width {
    @include flex(column, center, center);
    position: relative;
    background-color: $color-main;
    border-radius: $radius;
    height: 120px;
    margin-top: 10px;
  }
}


/*  SLIDER  */

.slider {
  @include flex(row, center, space-between);
  flex-wrap: nowrap;
  // display: none;
  opacity: 0;
  position: absolute;
  left: 110%;
  transition: all 1s;
  max-width: 600px;
  min-width: 600px;
  width: inherit;
  // margin-right: 100%;
  
  &__wrapper {
    margin: 96px 0 50px 0;
    position: relative;
    height: 200px;
  }

  &__image {
    flex: 1;
    height: 200px;
    width: 200px;
  }

  &__img {
    height: inherit;
    width: inherit;
    object-fit: cover;
  }

  &__text {
    flex: 2;
    margin-left: 40px;

    &--heading {
      font-size: 18px;
      text-transform: uppercase;
    }

    &--name {
      font-style: italic;
      font-weight: bold;
    }
  }

  &.active {
    // display: flex;
    opacity: 1;
    left: 0;
    transition: all 1s;
  }

  &.prev {
    opacity: 0;
    left: -110%;
    transition: all 1s;
  }

  &__dots {
    @include flex(row, center, center);
  }

  &__dot {
    height: 10px;
    width: 10px;
    margin: 0 10px;
    border-radius: 50%;
    background-color: #ddd;

    &.active {
      background-color: #333;
    }
  }
}


/*  Portfolio  */

.images {
  margin: 96px 0 50px 0;
  
  &__wrapper {
    @include flex(row, flex-start, space-between);
    flex-wrap: wrap;
  }

  &__box {
    position: relative;
    width: 195px;
    height: 195px;
    margin: 5px 0;
    overflow: hidden;

    &:hover {
      .overlay{
        position: absolute;
        opacity: 0.5;
        width: inherit;
        height: inherit;
        background-color: #000;
        border-radius: $radius;
        transition: all 1s;
      }

      .images__icons {
        @include center;
        transition: all 0.5s;
      }
    }
  }

  &__img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    border-radius: $radius;
  }

  &__icons{
    position: absolute;
    color: #fff;
    left: 50%;
    top: 110%;
    transform: translateX(-50%);
    transition: all 0.5s;

    i {
      font-size: 24px;
      margin: 0 10px;
      &:hover {
        color: $color-main;
      }
    }
  }
}


/* Footer */
.footer__link {
  color: $color-main;
}